extends layout

block content
    #devices
        each device, i in devices
            .row.l_left-row
                .col-md-12
                    .device-entry(data-index=i, data-id=device.id)
                        img(src=device.image)
                        i.fa.fa-play.selection
                        a.name(href='/device/'+device.id)= device.name

    .row.l_title-container.s_title-container.l_left-row
        .col-md-12
            p You can edit me in server/templates/public/index.jade

    script(src='/assets/js/index.js')