extends layout

block content
    .row
        p Devices/accounts that have been hacked by Take Charge will appear here
    #devices
        each device, i in devices
            .row.l_left-row
                .col-md-12
                    .device-entry(data-index=i, data-id=device.id)
                        img(src=device.image)
                        i.fa.fa-play.selection
                        a.name(href='/device/'+device.id)= device.name

    script(src='/assets/js/index.js')