@import "vendor/bootstrap.scss";
@import "gatekeeper.scss";

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -45px;
  padding: 50px 0 45px;
}

#footer {
  height: 45px;
}

.device-entry {
  width: 300px;
  padding: 10px;

  background-color: #f5f5f5;
  border: 1px lightgray solid;
  border-radius: 2px;
  box-shadow: 2px 2px 2px #eeeeee;

  img {
    display: block;
  }

  .name {
    font-size: 1.5em;
    color: black;
  }

}

.clear {
  clear: both;
}

.user-pic {
  float: left
}

h2.name {
  float: left;
  margin-left: 10px;
}