@import "vendor/bootstrap.scss";
@import "gatekeeper.scss";

html, body {
  height: 100%;

  color: lime;
  background-color: black;
  font-family: monospace;

  overflow: hidden;
}

.navbar {
  a {
    font-family: monospace;
    color: lime;
  }
}

.navbar-brand {
  margin-left: 20px;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -45px;
  padding: 50px 0 45px;
}

#footer {
  height: 45px;
}

.container {
  @media screen and (min-width: 1500px) {
    margin-left: 50px;
  }
}

.device-entry {
  width: 200px;
  padding: 10px;

  img {
    display: block;
  }

  .name {
    font-size: 1.5em;
    color: lime;
  }

  i.selection {
    visibility: hidden;
    margin-left: -15px;
    margin-right: 2px;
  }

}

.clear {
  clear: both;
}

.user-pic {
  float: left
}

h2.name {
  float: left;
  margin-left: 10px;
}

#contacts {
  max-height: 800px;
  overflow-y: scroll;
}

#notifications {
  max-height: 800px;
  overflow-y: scroll;
}

.contact {
  .name {
    display: block;
  }
  .phone {
    display: block;
  }
}

.notification {
  .ticker-text {
    display: block;
  }
  .app-name {
    display: block;
  }
}

.blinking-cursor {
  width: 12px;
  height: 2em;
  background-color: lime;
  float: left;
  margin-top: 20px;
  margin-left: 5px;

  animation: blink 2s step-end infinite;
  -webkit-animation: blink 2s step-end infinite;
}

@keyframes blink {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: visible;
  }
}

@-webkit-keyframes blink {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: visible;
  }
}

.typed {
  width: 30em;

  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: typed 2.5s steps(50, end);
  animation: typed 2.5s steps(50, end)
}

@keyframes typed {
  from {
    width: 0;
  }
}

@-webkit-keyframes typed {
  from {
    width: 0;
  }
}